body {
  margin: 60px auto;
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background: #23272A;
}
h1, h2 {
  display: inline-block;
  background: #fff;
  padding: 0 0 0 10px;
  border-bottom: 4px solid;
  border-color: #99AAB5;
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 20px;
  padding: 0 10px 0 10px;
}
span {
  background: #7289DA;
  padding: 0 10px 0 10px;
  border-bottom: 4px solid;
  border-color: #4D5C92;
}

/* NavBar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3B4146;
  border-bottom: 4px solid;
  border-color: #303438;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #23272A;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
.active {
    background-color: #4D5C92;
}
